body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list-flex {
  display: flex;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  width: auto;
  max-width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-480-1.jpg);
  background-color: #2f303a;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-480-2.jpg);
  }
}

@media screen and (min-width: calc(480px + 1px)) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-768-1.jpg);
  }
}

@media screen and (min-width: calc(480px + 1px)) and (min-device-pixel-ratio: 2), screen and (min-width: calc(480px + 1px)) and (min-resolution: 192dpi), screen and (min-width: calc(480px + 1px)) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-768-2.jpg);
  }
}

@media screen and (min-width: calc(768px + 1px)) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1600-1.jpg);
  }
}

@media screen and (min-width: calc(768px + 1px)) and (min-device-pixel-ratio: 2), screen and (min-width: calc(768px + 1px)) and (min-resolution: 192dpi), screen and (min-width: calc(768px + 1px)) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1600-2.jpg);
  }
}

.hero-object {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero-object {
    max-width: 696px;
  }
}

.hero-title {
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  font-size: 5.42vw;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
  }
}

.we-doing-list {
  display: flex;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
  }
}

.clients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -15px;
}

@media screen and (min-width: 480px) {
  .clients-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: left;
}

.part-address {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .part-address {
    width: 231px;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-address,
.footer-email {
  line-height: 1.714;
}

.footer-address {
  display: block;
}

.footer-email {
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}

.footer-email:hover, .footer-email:focus {
  color: #2196f3;
}

.footer-address {
  color: #ffffff;
  margin-bottom: 8px;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-bottom: 9px;
  }
}

.element-list {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .element-list {
    margin-bottom: 9px;
  }
}

.footer-part-social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-part-social {
    width: 206px;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer-plea {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 2;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-hero {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  max-width: 450px;
  width: calc(100vw - 30px);
  max-height: 609px;
  padding: 8.33vw;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-hero {
  transform: translate(-50%, -50%) scale(0);
}

@media screen and (min-height: 609px) {
  .modal-hero {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 480px) {
  .modal-hero {
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-hero {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-text {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 4.17vw;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .modal-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-text {
    line-height: 1.15;
  }
}

.modal-form {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .modal-form {
    max-width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    max-width: 448px;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  height: 58px;
  text-align: left;
}

.form-label {
  height: 58px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-thumb {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  fill: currentColor;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within + .form-thumb {
  color: #2196f3;
}

.form-input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within .form-input {
  outline: none;
  border: 1px solid #2196f3;
}

.form-textarea {
  display: block;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field-textarea:focus-within .form-textarea {
  outline: none;
  border: 1px solid #2196f3;
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-textarea {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.work-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .work-list {
    flex-direction: row;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-background {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-background {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section-none {
    display: none;
  }
}

.container {
  width: auto;
  max-width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-header {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    text-align: left;
  }
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
}

.logo-right-part-dark {
  color: #050404;
}

.logo-right-part-light {
  color: #ffffff;
}

.logo-footer {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo-nav {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .logo-nav {
    padding: 26px 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-nav {
    padding: 24px 0;
    margin-right: 93px;
  }
}

.nav-thumb {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  height: 100vh;
  display: none;
}

.button-nav.is-open + .nav-thumb {
  display: block;
  z-index: 1;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .nav-thumb {
    display: block;
    position: static;
    width: 100%;
    height: auto;
    transition: none;
  }
}

.nav-mobile {
  display: flex;
  height: 100vh;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 10vw 8.33vw;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .nav-mobile {
    padding: 48px 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-mobile {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 0;
    max-width: 100%;
  }
}

.nav {
  font-weight: 500;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .nav {
    margin: 0;
  }
}

.nav-list {
  letter-spacing: 0.02em;
  font-size: 8.33vw;
  line-height: 1.175;
}

@media screen and (min-width: 480px) {
  .nav-list {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.143;
    margin-right: auto;
  }
}

.nav-item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.nav-link {
  padding: 0;
  display: block;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding: 32px 0px;
  }
  .nav-link:hover, .nav-link:focus {
    color: #2196f3;
  }
}

.nav-link-current {
  position: relative;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-link-current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.contacts-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
    align-items: center;
  }
}

.contacts-item:not(:first-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts-item {
    width: 100%;
  }
  .contacts-item:not(:first-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  fill: currentColor;
  color: inherit;
  font-weight: 500;
  font-size: 5vw;
}

@media screen and (min-width: 480px) {
  .contacts-link {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-link {
    font-size: 12px;
    justify-content: flex-start;
    padding-top: 21px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover, .contacts-link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    font-size: 14px;
    padding: 32px 0;
  }
}

.contacts-icon {
  display: none;
}

@media screen and (min-width: 1200px) {
  .contacts-icon-desktop {
    display: inline-block;
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-icon-tablet {
    display: inline-block;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-icon-tablet {
    display: none;
  }
}

.contact-tel {
  font-size: 7.08vw;
  line-height: 1.176;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .contact-tel {
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  .contact-tel {
    font-size: 12px;
    line-height: 1.167;
    color: inherit;
    padding-top: 0;
    padding-bottom: 21px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-tel {
    font-size: 14px;
    padding: 32px 0;
    margin-top: 0;
  }
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  fill: currentColor;
  color: #050404;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  color: #2196f3;
}

.button-nav {
  display: inline-block;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 0;
  fill: currentColor;
  color: #050404;
  background-color: transparent;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav:hover, .button-nav:focus {
  color: #2196f3;
}

.button-nav.is-open {
  position: fixed;
  right: 15px;
  top: 10px;
}

@media screen and (min-width: 768px) {
  .button-nav {
    display: none;
  }
}

.button-nav .nav-icon-close {
  display: none;
}

.button-nav.is-open .nav-icon-close {
  display: block;
}

.button-nav.is-open .nav-icon-menu {
  display: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list-mobile {
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .social-list-mobile {
    display: none;
  }
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item-mobile:not(:last-child) {
  position: relative;
  margin-right: 4.17vw;
}

@media screen and (min-width: 480px) {
  .social-item-mobile:not(:last-child) {
    margin-right: 20px;
  }
}

.social-item-mobile:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  display: inline-block;
  width: 1px;
  height: 22px;
  background-image: url(../../images/svg/Line.svg);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: auto;
  height: 100%;
  fill: currentColor;
}

.social-link-team {
  color: #afb1b8;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .social-link-team {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #afb1b8;
  }
  .social-link-team:hover, .social-link-team:focus {
    color: #ffffff;
    border-color: #2196f3;
  }
  .social-link-team:hover, .social-link-team:focus {
    background-color: #2196f3;
  }
}

.social-link-footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
  .social-link-footer:hover, .social-link-footer:focus {
    background-color: #2196f3;
  }
}

.social-link-mobile {
  font-weight: 500;
  font-size: 3.75vw;
  line-height: 1.222;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .social-link-mobile {
    font-size: 18px;
  }
}

.main-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  fill: currentColor;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #2196f3;
}

.main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.main-button-no-hover {
  color: #ffffff;
  background-color: #2196f3;
}

.main-button-no-hover:hover, .main-button-no-hover:focus {
  background-color: #2196f3;
}

.title-main {
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .title-main {
    margin: 0 0 50px 0;
    font-size: 36px;
  }
}

.features-item {
  max-width: 450px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: 354px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: 270px;
  }
}

.features-title {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: inherit;
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
}

.features-bcg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  line-height: 1.7;
}

.we-doing-item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}

.we-doing-item:not(:last-child) {
  margin-right: 30px;
}

.we-doing-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.we-doing-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 100%;
  background-color: #ffffff;
  margin: 15px;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}

.team-card {
  width: auto;
  padding: 24px;
}

@media screen and (min-width: 768px) {
  .team-card {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    padding: 30px 32px;
  }
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.188;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.team-position {
  margin-top: 0;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.clients-item {
  width: 210px;
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  fill: currentColor;
  width: auto;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-part-follow {
    display: flex;
    align-items: flex-end;
    width: 570px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-follow {
    width: 358px;
    margin-right: 12px;
  }
}

.follow-input,
.follow-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.follow-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .follow-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .follow-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.icon-follow {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-part-follow {
    display: flex;
    align-items: flex-end;
    width: 570px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-follow {
    width: 358px;
    margin-right: 12px;
  }
}

.follow-input,
.follow-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.follow-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .follow-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .follow-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.icon-follow {
  margin-left: 10px;
}

.work-element-description {
  font-size: 4vw;
  line-height: 1.556;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .work-element-description {
    font-size: 18px;
  }
}

.work-element-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16.04vw 5vw;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 480px) {
  .work-element-overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .work-element-overlay {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .work-element-overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.work-link:hover .work-element-overlay,
.work-link:focus .work-element-overlay {
  transform: translateY(0);
  z-index: 0;
}

.checkbox-label,
.conditions {
  line-height: 1.167;
}

@media screen and (min-width: 1200px) {
  .checkbox-label,
  .conditions {
    line-height: 1.714;
  }
}

.checkbox-label {
  font-size: 12px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  text-align: left;
  margin-left: 24px;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    margin-left: 36px;
    font-size: 14px;
  }
}

.checkbox-label::before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -13px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-image: url(../images/svg/check-off.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-consent:checked + .checkbox-label::before {
  background-image: url(../images/svg/check-on.svg);
  background-color: #2196f3;
}

.checkbox-consent:focus + .checkbox-label::before,
.checkbox-consent:focus:checked + .checkbox-label::before {
  box-shadow: 0 0 0 1px #101010;
}

.checkbox-consent:hover + .checkbox-label::before {
  cursor: pointer;
}

.conditions {
  position: relative;
  display: inline-block;
  color: #2196f3;
  text-decoration: none;
}

.conditions::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: 0;
}

.checkbox-field {
  position: relative;
  width: auto;
  margin-bottom: 30px;
}

.checkbox-consent {
  position: absolute;
  appearance: none;
}

.work-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .work-filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .work-filter {
    margin-bottom: 50px;
  }
}

.work-filter-item {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .work-filter-item {
    margin-bottom: 0;
  }
}

.work-filter-item:not(:last-child) {
  margin-right: 8px;
}

.work-filter-button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: inherit;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-filter-button:focus, .work-filter-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.work-element {
  margin: 15px;
  max-width: 450px;
  background-color: #ffffff;
  outline: 1px solid #eeeeee;
  outline-offset: -1px;
}

@media screen and (min-width: 768px) {
  .work-element {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .work-element {
    width: 370px;
  }
}

.work-link {
  display: block;
  height: 100%;
}

.work-link:hover, .work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-element-thumb {
  position: relative;
  overflow: hidden;
}

.work-title {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.work-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.work-name {
  text-align: left;
  padding: 20px 24px;
}
/*# sourceMappingURL=main.css.map */