.hero {
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  width: auto;
  max-width: $mobile;

  padding-top: 118px;
  padding-bottom: 118px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(to right, $gradient-hero, $gradient-hero),
    url(../images/hero/hero-480-1.jpg);
  background-color: $background-color-hero;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $gradient-hero, $gradient-hero),
      url(../images/hero/hero-480-2.jpg);
  }

  @media screen and (min-width: 481px) {
    max-width: $tablet-min;

    background-image: linear-gradient(to right, $gradient-hero, $gradient-hero),
      url(../images/hero/hero-768-1.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $gradient-hero,
          $gradient-hero
        ),
        url(../images/hero/hero-768-2.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    max-width: $desktop;
    min-height: 600px;
    background-image: linear-gradient(to right, $gradient-hero, $gradient-hero),
      url(../images/hero/hero-1600-1.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $gradient-hero,
          $gradient-hero
        ),
        url(../images/hero/hero-1600-2.jpg);
    }
  }

  &-object {
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $desktop) {
      max-width: 360px;
    }

    /* width: 696px; */

    /* 
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(to right, $gradient-hero, $gradient-hero),
    url(../images/hero/main-hero.jpg);

 

  padding-top: 200px;
  padding-bottom: 200px;

   */
  }
}

.hero-title {
  font-weight: 900;
  color: $color-light-main;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (max-width: $desktop) {
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    /* 
  padding: 0;

  
  font-size: 44px;
  line-height: 1.36; */
  }
}
