.hero {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $background-color-hero;

  @media screen and (max-width: $mobile-max) {
    max-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;

    &-object {
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-width: $desktop) {
        width: 360px;
      }

      /* width: 696px; */
    }

    /* 
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(to right, $gradient-hero, $gradient-hero),
    url(../images/hero/main-hero.jpg);

 

  padding-top: 200px;
  padding-bottom: 200px;

   */
  }
}

.hero-title {
  font-weight: 900;
  color: $color-light-main;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (max-width: $desktop) {
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    /* 
  padding: 0;

  
  font-size: 44px;
  line-height: 1.36; */
  }
}
