.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 93px 15px;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  z-index: 2;
  overflow-y: scroll;
  transition: opacity $time-main $timing-function-main,
    visibility $time-main $timing-function-main;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal-hero {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  max-width: 450px;

  width: calc(100vw - 30px);
  max-height: 609px;

  padding: 8.33vw;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $color-light-main;

  transition: transform $time-main $timing-function-main;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  @media screen and(min-height: 609px) {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and(min-width: $mobile) {
    padding: 40px;
  }

  @media screen and(min-width: $desktop) {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-text {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 4.17vw;

  line-height: 1.5;
  text-align: center;

  color: $color-title-main;
  @media screen and(min-width: $mobile) {
    font-size: 20px;
  }
  @media screen and(min-width: $desktop) {
    line-height: 1.15;
  }
}

.modal-form {
  width: 100%;
  text-align: center;
  @media screen and(min-width: $mobile) {
    max-width: 370px;
  }
  @media screen and(min-width: $desktop) {
    max-width: 448px;
  }
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  height: 58px;
  text-align: left;
}

.form-label {
  height: 58px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-thumb {
  position: absolute;
  @include flexCenter(flex-start);
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  fill: currentColor;
  color: $color-title-main;
  transition: color $time-main $timing-function-main;
  .form-label:focus-within + & {
    color: $color-accent;
  }
}

.form-input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $time-main $timing-function-main;
  .form-label:focus-within & {
    outline: none;
    border: 1px solid $color-accent;
  }
}

.form-textarea {
  display: block;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  .form-field-textarea:focus-within & {
    outline: none;
    border: 1px solid $color-accent;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field-textarea {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}
