.button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  font-weight: 700;
  line-height: 1.88;

  background-color: $color-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
