.main-button {
  @include flexCenter($flex: inline-flex);
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  fill: currentColor;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color $time-main $timing-function-main;
  @include main-button-hover();

  &-no-hover {
    @include main-button-hover($color-accent);
  }
}
