.container {
  /*  width: 1200px; */
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  &-header {
    text-align: left;
    @media screen and(max-width:$mobile-max) {
      position: relative;
    }
    /* display: flex;
    
    justify-content: space-between; */
  }
  /* &-features {
    text-align: left;
  } */
}

/*   @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    max-width: $tablet-min;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}




/* .container-footer {
  text-align: left;
  display: flex;
  align-items: baseline;
} */
