.contacts-list {
  @include flexCenter(center, flex-start);
  flex-direction: column-reverse;
  margin-bottom: 64px;

  @media screen and (min-width: $tablet-min) {
    flex-direction: column;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.contacts-item {
  &:not(:first-child) {
    margin-bottom: 32px;
  }

  @media screen and(min-width: $tablet-min) {
    width: 100%;
    &:not(:first-child) {
      margin-bottom: 0;
    }
  }

  @media screen and(min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-link {
  @include flexCenter();

  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  fill: currentColor;
  color: inherit;
  font-weight: 500;
  font-size: 5vw;

  @media screen and(min-width: $mobile) {
    font-size: 24px;
  }

  @media screen and(min-width: $tablet-min) {
    font-size: 12px;
    justify-content: flex-start;
    padding-top: 21px;
    transition: color $time-main $timing-function-main;
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
  @media screen and(min-width: $desktop) {
    font-size: 14px;
    padding: 32px 0;
  }
}

.contacts-icon {
  display: none;
}

.contacts-icon-desktop {
  @media screen and(min-width: 1200px) {
    display: inline-block;
    margin-right: 8px;
  }
}

.contacts-icon-tablet {
  @media screen and(min-width: $tablet-min) {
    display: inline-block;
    margin-right: 8px;
  }

  @media screen and(min-width: 1200px) {
    display: none;
  }
}

.contact-tel {
  font-size: 7.08vw;
  line-height: 1.176;
  color: $color-accent;

  @media screen and (min-width: $mobile) {
    font-size: 34px;
  }
  @media screen and(min-width: $tablet-min) {
    font-size: 12px;
    line-height: 1.167;
    color: inherit;
    padding-top: 0;
    padding-bottom: 21px;
    margin-top: 10px;
  }

  @media screen and(min-width: $desktop) {
    font-size: 14px;
    padding: 32px 0;
    margin-top: 0;
  }
}
