.contacts-list {
  @include flexCenter();
}

.contacts-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-link {
  @include flexCenter();

  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  fill: currentColor;
  color: inherit;
  font-weight: 500;

  transition: color $time-main $timing-function-main;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.contacts-icon {
  margin-right: 10px;
}
