.contacts-list {
  @media screen and (max-width: $tablet-min) {
    @include flexCenter(center, flex-start);
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: $tablet-min) {
    flex-direction: column;

    margin-bottom: 0;
  }
  /*@media screen and (min-width: $desktop) {
    max-width: $desktop;
  } */
}

.contacts-item {
  @media screen and (max-width: $mobile-max) {
    &:not(:first-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and(min-width: $tablet-min) {
    width: 100%;
  }

  &:not(:last-child) {
    /*  margin-right: 50px; */
  }
}

.contacts-link {
  @include flexCenter();

  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  fill: currentColor;
  color: inherit;
  font-weight: 500;

  @media screen and(min-width: $tablet-min) {
    font-size: 12px;
    justify-content: flex-start;
    padding-top: 21px;
    transition: color $time-main $timing-function-main;
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

  /* padding-top: 32px;
    padding-bottom: 32px; */
}

/*  */

.contacts-icon {
  display: none;
  @media screen and(min-width: $tablet-min) {
    display: inline-block;
    margin-right: 8px;
  }
}

.contact-tel {
  @media screen and (max-width: $mobile-max) {
    font-size: 34px;
    line-height: 1.176;
    color: $color-accent;
  }
  @media screen and(min-width: $tablet-min) {
    padding-top: 0;
    padding-bottom: 21px;
    margin-top: 10px;
  }
}
