.work-filter {
  @include flexCenter;
  margin-bottom: 50px;
}

.work-filter-item:not(:last-child) {
  margin-right: 8px;
}

.work-filter-button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;

  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.6;
  letter-spacing: inherit;

  color: $color-title-main;
  background-color: $background-color-team;

  transition: color $time-main $timing-function-main,
    box-shadow $time-main $timing-function-main,
    background-color $time-main $timing-function-main;
  &:focus,
  &:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    @extend %color-button-accent;
  }
}
