.button-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  padding: 0;

  fill: currentColor;
  color: $color-logo-dark;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color $time-main $timing-function-main;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.button-nav {
  display: inline-block;
  z-index: 2;

  width: 40px;
  height: 40px;
  padding: 0;

  fill: currentColor;
  color: $color-logo-dark;
  background-color: transparent;
  border: none;
  transition: color $time-main $timing-function-main;
  &:hover,
  &:focus {
    color: $color-accent;
  }
  &.is-open {
    position: fixed;
    right: 15px;
    top: 10px;
  }

  @media screen and(min-width: $tablet-min) {
    display: none;
  }
}

.button-nav .nav-icon-close {
  display: none;
}

.button-nav.is-open .nav-icon-close {
  display: block;
}

.button-nav.is-open .nav-icon-menu {
  display: none;
}
