.header {
  border-bottom: 1px solid $color-header-border;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
