.hero {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(to right, $gradient-hero, $gradient-hero),
    url(../images/hero/main-hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: $background-color-hero;
}

.hero-object {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-title,
.hero-button {
  letter-spacing: 0.06em;
  color: $color-light-main;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero-button {
  transition: background-color var(--main-time) var(--main-timing-function);
  &:hover,
  &:focus {
    background-color: $background-color-accent-hover;
  }
}
