.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $time-main $timing-function-main,
    visibility $time-main $timing-function-main;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal-hero {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  margin-bottom: 12px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $color-light-main;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $time-main $timing-function-main;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal-text {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: $color-title-main;
}

.modal-form {
  width: 448px;
  text-align: center;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  height: 58px;
  text-align: left;
}

.form-label {
  height: 58px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-thumb {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  fill: currentColor;
  color: $color-title-main;
  transition: color $time-main $timing-function-main;
  .form-label:focus-within + & {
    color: $color-accent;
  }
}

.form-input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $time-main $timing-function-main;
  .form-label:focus-within & {
    outline: none;
    border: 1px solid $color-accent;
  }
}

.form-textarea {
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  .form-field-textarea:focus-within & {
    outline: none;
    border: 1px solid $color-accent;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field-textarea {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.checkbox-label,
.conditions {
  line-height: 1.71;
}

.checkbox-label {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-left: 36px;
}

.checkbox-label::before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -13px;

  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-image: url(../images/svg/check-off.svg);
  transition: background-image $time-main $timing-function-main,
    background-color $time-main $timing-function-main;
  .checkbox-consent:checked + & {
    background-image: url(../images/svg/check-on.svg);
    background-color: $color-accent;
  }

  .checkbox-consent:focus + &,
  .checkbox-consent:focus:checked + & {
    box-shadow: 0 0 0 1px rgb(16, 16, 16);
  }

  .checkbox-consent:hover + & {
    cursor: pointer;
  }
}

.conditions {
  display: inline-block;
  text-decoration: underline;

  color: $color-accent;
}

.checkbox-field {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.checkbox-consent {
  position: absolute;
  appearance: none;
}

.modal-button {
  letter-spacing: 0.06em;
  color: $color-light-main;
  transition: background-color $time-main $timing-function-main;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  padding: 0;

  fill: currentColor;
  color: $color-logo-dark;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color $time-main $timing-function-main;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
