.nav-thumb {
  position: fixed;
  background-color: $color-light-main;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  max-width: 100vw;
  height: 100vh;
  display: none;
  transition: display $time-main $timing-function-main;

  .button-nav.is-open + & {
    display: block;
    z-index: 1;
    overflow-y: scroll;
  }
  @media screen and(min-width: $tablet-min) {
    display: block;
    position: static;
    width: 100%;
    height: auto;
    transition: none;
  }
}

.nav-mobile {
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10vw 8.33vw;
  flex-direction: column;

  @media screen and (min-width: $mobile) {
    width: $mobile;
    padding: 48px 40px;
  }
  @media screen and(min-width: $tablet-min) {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 0;
    width: auto;
  }
}

.nav {
  font-weight: 500;
  @include flexCenter(left);
  margin-bottom: auto;

  @media screen and(min-width:$tablet-min) {
    margin: 0;
  }
}

.nav-list {
  letter-spacing: 0.02em;
  font-size: 8.33vw;

  line-height: 1.175;
  @media screen and(min-width: $mobile) {
    font-size: 40px;
  }

  @media screen and(min-width: $tablet-min) {
    @include flexCenter();
    font-size: 14px;
    line-height: 1.143;
    margin-right: auto;
  }
}

.nav-item:not(:last-child) {
  margin-bottom: 32px;

  @media screen and(min-width: $tablet-min) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.nav-link {
  padding: 0;
  display: block;
  color: $color-title-main;
  transition: color $time-main $timing-function-main;

  @media screen and (min-width: $tablet-min) {
    padding: 32px 0px;
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

.nav-link-current {
  position: relative;
  color: $color-accent;

  @media screen and (min-width: $tablet-min) {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $color-accent;
    }
  }
}
