.nav {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0px;
  color: $color-title-main;
  transition: color $time-main $timing-function-main;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.nav-link-current {
  position: relative;
  display: block;
  padding: 32px 0px;
  color: $color-accent;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-accent;
  }
}
