.work-element-description {
  font-size: 18px;
  line-height: 1.556;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;

  color: $color-light-main;
}

.work-element-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 77px 24px;

  transform: translateY(100%);
  transition: transform $time-main $timing-function-main,
    z-index $time-main $timing-function-main;

  background-color: rgba(33, 150, 243, 0.9);
  .work-link:hover &,
  .work-link:focus & {
    transform: translateY(0);
    z-index: 0;
  }
}
