.social-item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-item-mobile {
  &:not(:last-child) {
    position: relative;
    margin-right: 4.17vw;
    @media screen and(min-width: $mobile) {
      margin-right: 20px;
    }
    &::after {
      content: '';
      position: absolute;
      right: -10px;
      top: 0;
      display: inline-block;
      width: 1px;
      height: 22px;
      background-image: url(../images/svg/Line.svg);
    }
  }
}

.social-link {
  @include flexCenter();
  border-radius: 50%;
  width: auto;
  height: 100%;
  fill: currentColor;

  &-team {
    color: $color-link-main;

    background-color: $color-light-main;
    @media screen and(min-width: $desktop) {
      transition: color $time-main $timing-function-main,
        background-color $time-main $timing-function-main;

      @include colorLink-focus($color-light-main);

      &:hover,
      &:focus {
        background-color: $color-accent;
      }
    }
  }

  &-footer {
    color: $color-light-main;
    background-color: $background-color-footer-social-link;
    @media screen and(min-width: $desktop) {
      &:hover,
      &:focus {
        background-color: $color-accent;
      }
    }
  }

  &-mobile {
    font-weight: 500;
    font-size: 3.75vw;
    line-height: 1.222;

    color: $color-accent;
    @media screen and(min-width: $mobile) {
      font-size: 18px;
    }
  }
}
