.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 100%;
  background-color: $color-light-main;

  margin: 15px;
  max-width: 450px;

  @media screen and(min-width: $tablet-min) {
    width: 354px;
  }

  @media screen and(min-width: $desktop) {
    width: 270px;
  }
}

.team-card {
  width: auto;

  padding: 24px;
  @media screen and(min-width: $tablet-min) {
    padding-top: 30px;
  }

  @media screen and(min-width: $desktop) {
    padding-top: 30px 32px;
  }
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.188;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;

  color: $color-title-main;
}

.team-position {
  margin-top: 0;
  margin-bottom: 16px;

  text-transform: capitalize;
}
