.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 100%;
  /* width: calc((100% - 3 * 30px) / 4); */
  background-color: $color-light-main;
  @media screen and(min-width: $mobile-max) {
    width: 450px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
    /* margin-right: 30px;
  } */
  }
}

.team-card {
  width: auto;
  @include flexCenter($flex: column);
  padding: 24px;
  /* @media screen and(max-width: $mobile-max) {
    padding: 24px 122px;
  } */
  /* padding: 30px 32px; */
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.188;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;

  color: $color-title-main;
}

.team-position {
  margin-top: 0;
  margin-bottom: 16px;

  text-transform: capitalize;
}
