.title-main {
  margin: 0 0 30px 0;
  padding: 0;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;

  color: $color-title-main;
  @media screen and(min-width: $desktop) {
    margin: 0 0 50px 0;
    font-size: 36px;
  }
}
