body {
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;

  background-color: $color-light-main;
  color: $color-text-main;

  &.modal-open {
    overflow: hidden;
  }

  &.menu-open {
    overflow-y: hidden;
  }
}

a,
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
