//* ---main colors---*//

$color-text-main: #757575;
$color-title-main: #212121;
$color-accent: #2196f3;
$color-light-main: #ffffff;
$color-link-main: #afb1b8;

//* ---colors header---*//
$color-header-border: #ececec;

//* ---colors logo---*//
$color-logo-dark: #050404;

//* ---colors hero---*//
$gradient-hero: rgba(47, 48, 58, 0.4);
$background-color-hero: #2f303a;
$background-color-accent-hover: #188ce8;

//* ---colors we-doing---*//
$gradient-we-doing-thumb: rgba(47, 48, 58, 0.8);

//* ---colors team---*//
$background-color-team: #f5f4fa;

//* ---colors footer---*//
$background-color-footer: #2f303a;
$background-color-footer-social-link: rgba(255, 255, 255, 0.1);
$color-footer-contacts-list: rgba(255, 255, 255, 0.6);

//* ---colors-portfolio---*//
$color-portfolio-border: #eeeeee;

//*---fonts---*//
$font-family-main: Roboto, sans-serif;
$font-family-logo: Raleway;

//*---time---*//
$timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
$time-main: 250ms;
